<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index file</title>
</head>
<body>
    <img src="https://lh7-us.googleusercontent.com/2SUkvUaQcWEd8Ti99oyx-VZeDaRUQeuS_2bnx9kl48StjU0q4GBEhP3o8GvBi4h4uEWFTLy6XCH6uaBL3dm90aI5RjGczzt_MmHHvJoZ_5MUrkp0jnUAKlSOsDlJHYgNEggp60MzxP3dp7CAxjI8SQ"/>
    <img src="https://lh7-us.googleusercontent.com/UgtnMqSi6T2gMMsm9_wYQ6M9prTmyyX6uybY8OXIgS8-jVpwY6K8J-gtkmyciN20OEZHqpOoxligBflGnvKZsUBRC9tATwo2o9_morGDEmGOTmKYY1AJgJneuaTcdUhEUoksNbQEpB27g8D59-uTng"/>
    <img src="https://lh7-us.googleusercontent.com/swvEFq0tlqY68_oeqUpv2qoyUDMg-wQu7rIu5WJJLAyCCwGZPJzEgn4DZczLDtBOCtACpQLRllaeEYvPBU8KfIwU-t5u__V2J8okr_mWJVgM0rw3UuIkU65LtQCAN2dpBuLm_ZW9LUP5dl4tApaDlQ"/>
    <img src="https://lh7-us.googleusercontent.com/25KveExjEk7OrQ01i45RpKuTHfduDPAMSQAp5td5-YXnqwZgpxrGEey4KuYFuKxyzTgcxj7jjo3grCl1zAboCCSB_se1V_CvhsR10jwg1mye6PbJu3s5GA5GjAhUQtPW1WW0sGnH4YMZDtuBhQDxCA"/>
    <br />
    <br />
    <p>when you click on the predict button, it will display the below page. you can test the model by passing a image</p>
    <br />
    <br/>
    <img src="https://lh7-us.googleusercontent.com/VuCwlcnSDBFIkgVYyrel0WqGZDzpRyRrKFb1VXzW0KOFxP6HF3_52O4wwEUf5hbx6lTv98NY6zJEL_xdut3-uo7XBUlRokGjUyxW0-rL8-9kwkvLf9pn812wxdvuv52v8Chn9VgaWMfsupyRkia-wQ"/>
</body>
</html>